*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}
body
{
	background-image: url(img/fondo.jpg;);
}

form{
	width: 400px
	background-color: ffffff;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin: 10px;
	border-style:solid ;
	border-color:#ff0000 ;
	border-radius:20px ;
}


h2{
	color:#984000;
	text-align: center;
margin: 10px;
}

.cajas{
	width: 100%;
	color: #004D91;
}
.boton{
width: 100%
margin: 10px;
}